<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ОВР Л/р №2</title>
    <link rel="stylesheet" type="text/css" href="style/headerStyle.css">
    <link rel="stylesheet" type="text/css" href="style/mainPageStyle.css">
</head>

<body>
    <header>
        <h1>Новости по ОВР Л/р №2</h1>
    </header>
    <div class="containers">
        <% data.forEach(row=> { %>
            <div class="container">
                <div class="title">
                    <a href="/message/<%= row.messsage_id %>">
                        <%= row.messsage_title %>
                    </a>
                </div>
                <div class="text">
                    <p>
                        <%= row.messsage_text %>
                    </p>
                </div>
                <div class="date">
                    <p>
                        Опубликовано: <%= row.message_date_create%>
                    </p>
                </div>
            </div>
            <% }); %>
    </div>
</body>

</html>